@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input-group{
    text-align: left;
    margin-left: 10%;
    margin-right: 55%;
}

.gender-title h5{
    margin-left: 5%;
    margin-right: 55%;
    text-align: center;
}

.title2{
    text-align: left;
}

.gender-group{
    margin-left: 5%;
    margin-right: 100%;  
}

.line2{
    float: right;
    background-color: rgb(24, 139, 233);
    border: none;
}
.login{
    float: right;
    width: 50%;
}
aside{
    margin-top: 50%;
    padding: 3%;
    background-color:rgb(37, 37, 39);
}
.texto{
    background-color: rgb(24, 139, 233);
}